body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* Fill the entire viewport height */
	margin: 0;
	/* Reset default margin */
	background-color: #ffecb3;
	background-image: url(../img/noise.webp);
}

.container {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"header-left header-center header-right"
		"slugline slugline slugline"
		"main main main"
		"footer footer footer";
	gap: 0px;
	width: 1000px;
	height: 650px;
	border: 8px solid;
}

.container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('../img/az-map.webp');
	opacity: 0.5;
	/* Adjust this value for desired opacity */
	z-index: -1;
}

.header-left {
	grid-area: header-left;
	height: 80px;
}

#header-left-flex {
	display: flex;
	flex-direction: column;
	height: 80px;
	flex-grow: 1;
}

.header-center {
	grid-area: header-center;
	position: relative;
	display: flex;
	height: 80px;
}

#header-center-flex {
	display: flex;
	flex-direction: column;
	height: 80px;
}

#flex-header-sub {
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	min-height: 40px;
}

#news-ticker {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: 38px;
	height: 40px;
	width: 510px;
}

.header-right {
	grid-area: header-right;
	display: flex;
	height: 80px;
}

#flex-header-right {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

#flex-header-mrgl {
	z-index: 1;
	flex-grow: 1;
}

.slugline {
	grid-area: slugline;
	font-size: xxx-large;
	font-family: "ccbiffbamboom", sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: blanchedalmond;
	margin-left: 20px;
}

.main {
	grid-area: main;
	margin-left: 20px;
	margin-right: 20px;
}

.footer {
	grid-area: footer;
	height: 20px;
	display: flex;
	align-self: end;
	z-index: 2;
}

#footer-flex {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
}

#footer-left {
	margin-left: 10px;
}

#footer-right {
	margin-right: 10px;
}