body, html {
    background-color: #eceee1;
}

/* speech bubbles*/

* { 
box-sizing: border-box;
}
body { 
font-family: 'Bangers'; 
font-size: clamp(1.5rem, 2.5vw, 3rem);
margin: 0;
}

blockquote.bubble { 
background-position: center;
background-repeat: no-repeat !important;
background-size: 100% 100%;
margin: 0 auto;
text-align: center;
height: 0;
box-sizing: content-box;
line-height: 1;
}
blockquote.speech {
background: url(../data/speech-bubble.svg); 
width: 25%;
padding-top: 6%;
padding-bottom: 20%;
}
blockquote.whisper {
background: url(../data/whisper.svg); /* whisper.svg */
width: 25%;
font-size: clamp(1rem, 1.5rem, 2vw);
color: #ccc;
font-style: italic;
padding: 6% 5% 15%;
}
blockquote.electric {
background: url(../data/electric.svg); /* electric.svg*/
width: 25%;
font-size: clamp(1rem, 1.5rem, 2vw);
font-style: italic;
padding: 4% 6% 12% 0%;
}
blockquote.electric span {
display: block;
font-size: clamp(1rem, 1.5rem, 2vw);
font-weight: bold;
}

/* Image positioning */

.image-container {
    position: relative;
    width: 600px;   /* width of the image */
    height: 600px;  /* height of the image */
    margin: 0 auto;  /* centering the container if needed */
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;  /* This removes any space caused by the inline-block nature of images */
}


blockquote.bubble {
    position: absolute;
}

blockquote.electric {
    top: 40%;  /* adjust these values as needed */
    right: 25%;
    z-index: 1;
}

blockquote.speech {
    top: 95%;  /* adjust these values as needed */
    left: 15%;
    z-index: 1;
}
