body, html {
    
    background-color: #0b5066;
}

/* Image positioning */

.image-container {
    position: relative;
    width: 100%; /* Make the image container 100% width */
    max-width: 600px; /* Set a max-width to the image container */
    margin: 30px auto 0; /* Center the image horizontally */
}

.image-container img {
    width: 100%;
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block;
}

/* speech bubbles*/

.speech {
    position: absolute;
    font-family: "ccmeanwhile", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #f6fdcc;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    opacity: 0.8;
}

.speech-bottom-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid #f6fdcc;
    border-left: 12px solid transparent;
    border-top: 12px solid #f6fdcc;
    border-bottom: 20px solid transparent;
    left: 282px;
    bottom: -30px;
    opacity: 0.8;
}

.speech-bottom-right {
    /* Position the speech bubble at the bottom right */
    top: 65%; /* Adjust as needed */
    right: 10%; /* Adjust as needed */
}

.electric {
    position: absolute;
    font-family: "ccmeanwhile", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    width: 250px;
    background: #f6fdcc;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    opacity: 0.8;
}

.electric-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid #f6fdcc;
    border-left: 12px solid transparent;
    border-top: 12px solid #f6fdcc;
    border-bottom: 20px solid transparent;
    left: 230px;
    bottom: -24px;
    opacity: 0.8;
}

.electric-bottom-left {
    /* Position the electric bubble at the bottom left */
    top: 4%; /* Adjust as needed */
    left: 3%; /* Adjust as needed */
}

/*slug-line */

.slug-line {
    font-family: "ccmeanwhile", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: #60C7EA;
    font-size: 1.5vw;
    margin-top: 10px;
    width: 100%;
}

/* Save Button */

.button-container {
    text-align: center; /* Center-align the content horizontally */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.save-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .save-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  button#refreshButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}