[speech-bubble], [speech-bubble] * {
    box-sizing: border-box;
}

[speech-bubble] {
    --bbColor: grey;
    --bbArrowSize: 1.5rem;
    --bbBorderRadius: 0.25rem;
    --bbPadding: 1rem;
    background: var(--bbColor);
    border-radius: var(--bbBorderRadius);
    padding: var(--bbPadding);
    position: absolute;
    min-width: 250px;
    top: 200px;
    right: 200px;
}

[speech-bubble]::before {
    content: ''; 
    position: absolute;
    background: var(--bbColor);
}

/* right */
[speech-bubble][pright] {
    margin-right: var(--bbArrowSize);
}

[speech-bubble][pright]::before {
    left: calc(100% - 2px);
}

[speech-bubble][pright][atop]::before {
    top: var(--bbPadding);
    clip-path: polygon(100% 0, 0 100%, 0 25%);
    --height: calc(var(--bbArrowSize) / 2 * 3);
    width: var(--bbArrowSize);
    height: var(--height);
}

/* general styling */
[speech-bubble] .title {
    font-weight: 600;
    color: white; 
    text-shadow: 1px 1px 2px black;
    margin-bottom: 0.5rem;
}

[speech-bubble] code {
    background: white;
    margin: 0.125rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    white-space: nowrap;
    font-size: .9rem;
}
