[speech-bubble], [speech-bubble] * {
    box-sizing: border-box;
}

[speech-bubble] {
    /*--bbColor: #ffecb3;*/
    --bbArrowSize: 1.5rem;
    --bbBorderRadius: 0.25rem;
    --bbPadding: 1rem;
    /*background: var(--bbColor);*/
    background-color: #ffecb3;
    border: 3px solid #000000;
    border-radius: var(--bbBorderRadius);
    padding: var(--bbPadding);
    position: absolute;
    min-width: 300px;
    top: 200px;
    right: 160px;
}

[speech-bubble]::before {
    content: '';
    position: absolute;
    /*background: var(--bbColor);*/
    background-color: #ffecb3;
}

/* right */
[speech-bubble][pright] {
    margin-right: var(--bbArrowSize);
}

[speech-bubble][pright]::before {
    left: calc(100% - 2px);
}

[speech-bubble][pright][atop]::before {
    top: var(--bbPadding);
    clip-path: polygon(100% 0, 0 100%, 0 25%);
    --height: calc(var(--bbArrowSize) / 2 * 3);
    width: var(--bbArrowSize);
    height: var(--height);
}

/* general styling */
[speech-bubble] .title {
    font-weight: 600;
    color: black;
    margin-bottom: 0.5rem;
}
