body, html {
    background-color: #0b5066;
}

/* Image positioning */

.image-container {
    position: relative;
    width: 100%; /* Make the image container 100% width */
    max-width: 600px; /* Set a max-width to the image container */
    margin: 200px auto 0; /* Center the image horizontally */
}

.image-container img {
    width: 100%;
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

/* speech bubbles*/

blockquote.speech {
    
}

blockquote.electric {
    
}

/*slug-line */

.slug-line {
    font-family: 'Bangers';
    text-align: center;
    color: #60C7EA;
    font-size: 3vw;
}
