/* basics */
body {
  background: #f8f7f2;
  padding: 0 10%;
}
h1 {
  margin: 0;
  line-height: 1;
  padding: 10px;
  color: #251b19;
}
p {
  margin: 0;
  padding: 10px;
  color: #251b19;
  font-size: 1.2em;
}
a {
  color: #04a7ff;
}
a:hover {
  text-decoration: none;
}

/* Grid */
.parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 6 / 1 / 7 / 2; }
.div7 { grid-area: 7 / 1 / 8 / 2; }
.div8 { grid-area: 8 / 1 / 9 / 2; }
.div9 { grid-area: 9 / 1 / 10 / 2; }
.div10 { grid-area: 10 / 1 / 11 / 2; }

/* Fonts */
.ccmeanwhile {
  font-family: "ccmeanwhile", sans-serif;
}

.mmrbb {
  font-family: "might-makes-right-bb", sans-serif;
}

.headline {
  font-weight: 700;
  font-style: italic;
}

.sub-headline {
  font-weight: 400;
  font-stretch: normal;
}

.player-name {
  font-weight: 400;
  font-stretch: normal;
}

.div4 {
  background-image: url(../img/m01.png);
}

.last-words {
  font-weight: 400;
  font-stretch: normal;
}
