/* basics */
body {
  /*background: #f8f7f2; */
  background-image: url(../img/bg_paper.jpg);
  padding: 0 10%;
}
h1 {
  margin: 0;
  line-height: 1;
  padding: 10px;
  color: #251b19;
}
p {
  margin: 0;
  padding: 10px;
  color: #251b19;
  font-size: 1.2em;
}
a {
  color: #04a7ff;
}
a:hover {
  text-decoration: none;
}



/* Fonts */
.ccmeanwhile {
  font-family: "ccmeanwhile", sans-serif;
}

.mmrbb {
  font-family: "might-makes-right-bb", sans-serif;
}

.headline {
  font-weight: 700;
  font-style: italic;
}

.sub-headline {
  font-weight: 400;
  font-stretch: normal;
}

.player-name {
  font-weight: 400;
  font-stretch: normal;
}

.hero img {
  max-width: 512px;
  height: auto;
}

.last-words {
  font-weight: 400;
  font-stretch: normal;
}
